@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Arvo&family=JetBrains+Mono:wght@300&family=Josefin+Sans&family=PT+Sans:ital@0;1&family=Raleway:wght@500&family=Source+Code+Pro:ital,wght@1,500&display=swap");
@import font-family: "Mukta";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* SECTION 1 START */

nav {
  height: 20%;
}
.navbar {
  background: #181d38;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 1%;
}

.contact-btn {
  padding: 1%;
  background: #fc8dba;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 140px;
}

.nav-btn {
  display: flex;
  align-items: center;
  background: #fc8dba;
  border: none;
  width: 120px;
}

.nav-btn img {
  background-color: #ffffff;
  border-radius: 50%;

  margin-left: 15px;
}

.nav-links {
  width: 40%;
  align-items: center;
  padding: 1%;
}

.nav-links ul li {
  list-style: none;
  color: white;
  text-decoration: none;
  display: inline;
  padding: 2.5%;
  font-size: 1.3em;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
}

.logo {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92.7vh;
  padding: 2%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.531), rgba(0, 0, 0, 0.504)),
    url(images/giphy.png.png) center;
  color: white;
}

.main-content h3 {
  /* margin: 1%; */
  padding: 1%;
  font-size: 1.7em;
  font-family: "Mukta", sans-serif;
}
.main-content h1 {
  /* margin: 1%; */
  padding: 1%;
  font-size: 2.2em;
  text-align: center;
  font-weight: 540;
}
.main-content p {
  /* margin: 1%; */
  padding: 1%;
  font-size: 0.8em;
  text-align: center;
  font-family: "Mukta", sans-serif;
}

.mainpage-btn {
  padding: 0.8%;
  background: #fc8dba;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  /* width: 15%; */
  padding: 0.5%;
  width: 180px;
  /* max-width: 100%; */
}

.btns {
  display: flex;
  padding: 0.5%;
  width: 100%;
  justify-content: center;
}

.btns button {
  margin: 1%;
}

.arrow {
  margin: 1%;
}
.mainpage-btn img {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}
.btn-div {
  display: flex;
  flex-direction: row;
}

/* SECTION 1 END */

/* SECTION 2 START */

.sec2-main {
  margin-top: 2%;
  padding: 2%;
}
.texts p,
h3 {
  padding: 1%;
  /* display: flex; */
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* flex-direction: row; */
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  /* padding: 2.5%; */
  margin: 2.5%;
  height: 260px;
  width: 280px;
  border: 1px solid #a8a3a9;
  border-radius: 30px;
  box-shadow: 0px 4px 12px 5px rgba(168, 163, 169, 0.25);
  margin-bottom: 5%;
}

.cards h4 {
  text-align: center;
  padding: 2%;
  margin: 1%;
}

.cards h4 {
  font-size: 1em;
}

.card-p {
  font-size: 0.8em;
  font-family: "Mukta", sans-serif;
  padding-bottom: 1%;
  text-align: center;
  font-weight: 550;
}
/* .cards span image{
    width: 16px;
    height: 16px;
} */

.vector-img {
  width: 16px;
  height: 16px;
}

.card-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #181d38;
  border: 12px solid #f5f5f5;
  top: 10px;
  margin-top: -85px;
}

.card-img img {
  width: 60px;
  height: 60px;
}

/* SECTION 2 END */

/* SECTION 3 START */

.sec3 {
  display: flex;
  padding: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.sec3-left {
  padding: 2%;
}

.sec3-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  padding-bottom: 2%;
  font-style: normal;
}

.sec3-text1 {
  color: #fc8dba;
}
.sec3-text2 {
  font-size: 2.8rem;
  font-weight: 600;
}

.sec3-text3 {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1.5px solid #181d38;
  border-radius: 500px;
  padding: 3%;
  width: 100%;
  font-family: "PT Sans", sans-serif;
}

.txt {
  font-weight: 700;
}

.sec3-text4 {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 15%;
  color: #808080;
  font-family: "PT Sans", sans-serif;
}

/* SECTION 3 END */

/* SECTION 4 START */

.sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.sec4-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: url(/images/sec4-bg.png) no-repeat center center;
  color: white;
  height: 450px;
  width: 450px;
  border-radius: 30px;
  font-family: "PT Sans", sans-serif;
}

.sec4-num {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
  margin: 2%;
}

.sec4-location {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
  margin: 2%;
}

.call {
  margin: 2%;
}

.sec4-text {
  margin-bottom: 2%l;
}

.sec4-right {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background: url(/images/sec4\ right.png) no-repeat center center;
  color: white;
  height: 550px;
  width: 650px;
  border-radius: 30px;
  margin-left: -30px;
  font-family: "PT Sans", sans-serif;
}

.form-control {
  background: transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 100%;
  padding: 2%;
  color: white;
}

.form-control ::placeholder {
  font-family: "PT Sans", sans-serif;
  color: white;
}

.sec4-btn {
  text-align: center;
  padding: 1%;
  background: #fc8dba;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  margin-top: 5%;
}

.sec4-btn img {
  background-color: white;
  border-radius: 50%;
}

/* SECTION 4 END */

/* FOOTER START */

footer {
  background: #181d38;
  color: white;
  margin-top: 5%;
}

.footer-contet-upper {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.footer-left {
  width: 50%;
  font-family: "Mukta", sans-serif;
}

.footer-left h2 {
  margin-bottom: 2%;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 30%;
  font-family: "Mukta", sans-serif;
}
.end {
  margin: 2%;
}

.footer-left ul li {
  list-style: none;
  color: white;
  text-decoration: none;
  display: inline;
  padding: 1.5%;
  font-size: 1.3em;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
  width: 40%;
}

.footer-left ul {
  margin-top: 7%;
}
.icons {
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 50%;
  background: #fc8dba;
  margin: 10px;
}

.footer-content-lower {
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
  font-family: "Mukta", sans-serif;
  padding: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
/* FOOTER END */

.burgerMenu {
  display: none;
  cursor: pointer;
  margin-left: -20px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}
/* CSS FOR MOBILE SCREEN */

@media only screen and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0% !important;
    padding: 0% !important;
  }

  .navbar .logo {
    justify-content: left;
  }
  .nav-links {
    display: none;
  }

  .burgerMenu {
    display: block;
    /* color: white; */
    background: #fc8dba;
    border-radius: 5px;
    width: 40px;
    align-items: center;
  }

  .bar {
    margin-left: 6px;
    background-color: white;
  }
  .main-content h3,
  p,
  h1 {
    text-align: left !important;
  }

  .btns {
    justify-content: flex-start;
  }
  .contact-btn {
    display: none;
  }

  .sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec3-left {
    margin: 0 !important;
  }
  .sec3-right {
    width: 100%;
    padding: 10px;
  }

  .sec3-text2 {
    width: 300px;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
  }

  .sec3-text4 {
    margin: 10px;
   width: auto;;
  }

  .sec3-left img {
    height: 600px;
    width: 340px;
  }

  .sec3-text3 {
    width: 300px;
    font-size: 1rem;
  }

  .sec3-right {
    width: 400px;
    padding: 10px;
  }

  .sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
  }

  .sec4-left {
    width: 370px;
    margin: 2% !important;
  }

  .sec4-right {
    width: 355px;
    margin-left: 1% !important;
  }

  .footer-contet-upper {
    display: flex;
    flex-direction: column;
  }

  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-left ul {
    font-size: 0.6rem;
    width: 370px;
    text-align: center;
  }

  .footer-right {
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

  .footer-content-lower {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .lower-content {
    padding: 10px;
  }

  .cards {
    margin-top: 55px;
  }

  .contactform form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px){
  .sec3{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .nav-links {
    display: none;
  }

}